= content_for :title, "#{@event.partner_one} & #{@event.partner_two}'s Wedding - #{@event.formatted_time}"

=render "layouts/header"

#event--cover
  .row
    .column.small-12
      %h2
        ="#{@event.partner_one} & #{@event.partner_two}"
      %span.separator
      %p= @event.formatted_time

/ .box--orange#rsvp
/   .row
/     .column.small-12
/       -if flash[:error].present?
/         %p.notice= flash[:error]
/       = simple_form_for :search, url: [:search, @event] do |f|
/         = f.input :query, placeholder: "Enter the name on your invite to RSVP", :label => false, :input_html => { :class => "cta" }
/         = f.button :submit, :class => "button", :value => "Find your invite"

#location
  .row
    .column.small-6.details
      -if flash[:notice].present?
        %p.notice= flash[:notice]
      %address= @event.venue_name
      %address= @event.venue_address_line_one
      %address= "#{@event.venue_address_city + ', ' + @event.venue_address_state}"
      %span.separator
      %p.times More details to come soon!
      %p.map-link=link_to "View map of venue", "https://www.google.com/maps/place/Town+of+Watertown:+Commanders+Mansion/@42.360647,-71.1631341,15z/data=!4m2!3m1!1s0x0:0x1288b8c1923bd714!6m1!1e1"
    .column.small-6
      :plain
        <div class="map wpgmappity_container" id="wpgmappitymap"></div>
