= content_for :title, "#{@event.partner_one} & #{@event.partner_two}'s Wedding - #{@event.formatted_time}"

=render "layouts/header"

#event--cover
  .row
    .column.small-12
      %h2
        ="#{@event.partner_one} & #{@event.partner_two}"
      %span.separator
      %p= @event.formatted_time

.box--orange#rsvp
  .row
    .column.small-12
      -if flash[:error].present?
        %p.notice= flash[:error]
      = simple_form_for :search, url: [:search, @event] do |f|
        = f.input :query, placeholder: "Enter the name on your invite to RSVP", :label => false, :input_html => { :class => "cta" }
        = f.button :submit, :class => "button", :value => "Find your invite"

#location
  .row
    -if flash[:notice].present?
      %p= flash[:notice]
    .column.small-6.details
      %p.directions The venue is just 10 minutes from Waverley Station, or 5 from Haymarket. See the map for local hotels.
      %address
        The Ghullie Dhu,
        %br
        2 Rutland Square,
        %br
        Edinburgh
      %p.times
        Ceremony 1:30pm
        %br
        Reception: 7:30pm
    .column.small-6
      :plain
        <div class="map wpgmappity_container" id="wpgmappitymap"></div>
