= content_for :title, "#{@event.partner_one} & #{@event.partner_two}'s Wedding - #{@event.formatted_time}"

=render "layouts/header"

#event--cover
  .row
    .column.small-12
      %h2
        ="#{@event.partner_one} & #{@event.partner_two}"
      %span.separator
      %p= @event.formatted_time

.box--orange#rsvp
  .row
    .column.small-12
      -if flash[:error].present?
        %p.notice= flash[:error]
      = simple_form_for :search, url: [:search, @event] do |f|
        = f.input :query, placeholder: "Enter the name on your invite to RSVP", :label => false, :input_html => { :class => "cta" }
        = f.button :submit, :class => "button", :value => "Find your invite"

#location
  .row
    -if flash[:notice].present?
      %p= flash[:notice]
    .column.small-6.details
      %address
        The Ghullie Dhu,
        %br
        2 Rutland Square, Edinburgh
      %span.separator
      %p.times The ceremony will take place at 1:30, reception begins 7:30. See map for local hotels.
    .column.small-6
      :plain
        <div class="map wpgmappity_container" id="wpgmappitymap"></div>
