= content_for :title, "#{@event.partner_one} & #{@event.partner_two}'s Wedding - #{@event.formatted_time}"

%header#site.box.box--orange
  .row
    .column.small-12
      %h1 Brains and Packhorse

#event--cover
  .row
    .column.small-12
      %h2= "#{@event.partner_one} & #{@event.partner_two}"
      %span.separator
      %p= @event.formatted_time

.box--orange#rsvp
  .row
    .column.small-12
      %h2 RSVP
      -if flash[:error].present?
        %p= flash[:error]
      = simple_form_for :search, url: [:search, @event] do |f|
        = f.input :query, placeholder: "Enter your name(s) as they are written on the invite", :label => false
        = f.button :submit, :class => "button", :value => "Continue"

#location
  .row
    .column.small-6
      %h3= "The #{@event.venue_name}, #{@event.venue_address_city}"
      %p Ceremony 1:30pm, Reception: 7:30pm
      %p The Ghullie Dhu, 2 Rutland Square, Edinburgh
    .column.small-6
      :plain
        <div class="map wpgmappity_container" id="wpgmappitymap"></div>

%footer#site.box.box--orange
  .row
    .column.small-12
