= content_for :title, "Dashboard"

#guests.content

  %ul.small-block-grid-4
    %li
      .panel.text-center
        %h2= @guests.count
        %p= "Guests".pluralize(@guests.count)
    %li
      .panel.text-center
        %h2= Guest.attendance_unknown.count
        %p= "Not RSVPd"
    %li
      .panel.text-center
        %h2= Guest.attending.count
        %p= "Attending"
    %li
      .panel.text-center
        %h2= Guest.not_attending.count
        %p= "Not attending"

  %table
    %thead
      %tr
        %th Guest
        %th RSVP'd
        %th Actions
    %tbody
      - @guests.each do |guest|
        %tr
          %td
            = "#{guest.name}"
            -if guest.partner_name.present?
              = " and #{guest.partner_name}"
          %td
            = guest.rsvp
          %td
            = link_to "edit", edit_admin_event_guest_path(@event, guest)
            = link_to "delete", admin_event_guest_path(@event, guest), data: { confirm: "Are you sure you want to delete this guest?" }, method: :delete
  = link_to "Add new guest", new_admin_event_guest_path(@event), :class => "button"
